body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:202px;
  width:658px;
  height:163px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:169px;
  top:0px;
  width:150px;
  height:40px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:319px;
  top:0px;
  width:134px;
  height:40px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:453px;
  top:0px;
  width:200px;
  height:40px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:40px;
  width:169px;
  height:68px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:68px;
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:169px;
  top:40px;
  width:150px;
  height:68px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:146px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:319px;
  top:40px;
  width:134px;
  height:68px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:453px;
  top:40px;
  width:200px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:108px;
  width:169px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:169px;
  top:108px;
  width:150px;
  height:50px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:319px;
  top:108px;
  width:134px;
  height:50px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:453px;
  top:108px;
  width:200px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:60px;
  top:60px;
  width:650px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:78px;
  top:72px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:203px;
  top:72px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:293px;
  top:72px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:68px;
  top:287px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:110px;
  top:140px;
  width:120px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36 {
  position:absolute;
  left:290px;
  top:140px;
  width:120px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u37 {
  position:absolute;
  left:650px;
  top:136px;
  width:70px;
  height:26px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:70px;
  top:142px;
  width:40px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:250px;
  top:143px;
  width:40px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:435px;
  top:137px;
  width:200px;
  height:22px;
  color:#999999;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  word-wrap:break-word;
}
