body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:703px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:53px;
  width:193px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:50px;
  top:122px;
  width:658px;
  height:163px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:169px;
  top:0px;
  width:150px;
  height:40px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:319px;
  top:0px;
  width:134px;
  height:40px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:453px;
  top:0px;
  width:200px;
  height:40px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:40px;
  width:169px;
  height:68px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:68px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:165px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:169px;
  top:40px;
  width:150px;
  height:68px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:146px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:319px;
  top:40px;
  width:134px;
  height:68px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:130px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:453px;
  top:40px;
  width:200px;
  height:68px;
  color:#000000;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:68px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:108px;
  width:169px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:169px;
  top:108px;
  width:150px;
  height:50px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:319px;
  top:108px;
  width:134px;
  height:50px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:130px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:453px;
  top:108px;
  width:200px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
