body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:78px;
  top:40px;
  width:129px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:78px;
  top:124px;
  width:66px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:78px;
  top:150px;
  width:362px;
  height:160px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:160px;
}
#u5 {
  position:absolute;
  left:2px;
  top:72px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:78px;
  top:330px;
  width:60px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
