body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:66px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:120px;
  width:740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:40px;
  top:184px;
  width:92px;
  height:256px;
  line-height:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:256px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:140px;
  top:191px;
  width:200px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:285px;
  width:200px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:142px;
  top:242px;
  width:90px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10 {
  position:absolute;
  left:140px;
  top:415px;
  width:60px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:140px;
  top:340px;
  width:200px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
