body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:66px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:188px;
  top:66px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:120px;
  width:740px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u5 {
  position:absolute;
  left:40px;
  top:210px;
  width:105px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:151px;
  top:210px;
  width:660px;
  height:214px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:214px;
}
#u8 {
  position:absolute;
  left:2px;
  top:99px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:151px;
  top:449px;
  width:60px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
