body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:68px;
  top:50px;
  width:462px;
  height:140px;
  line-height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:140px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  white-space:nowrap;
}
