body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:66px;
  width:141px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:120px;
  width:740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:40px;
  top:170px;
  width:66px;
  height:144px;
  line-height:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:144px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:116px;
  top:181px;
  width:200px;
  height:26px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:116px;
  top:227px;
  width:104px;
  height:26px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:230px;
  top:230px;
  width:14px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:116px;
  top:278px;
  width:200px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12 {
  position:absolute;
  left:116px;
  top:350px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
