body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:100px;
  width:700px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:112px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:78px;
  top:154px;
  width:53px;
  height:72px;
  line-height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:72px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:60px;
  top:180px;
  width:700px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u7 {
  position:absolute;
  left:60px;
  top:226px;
  width:700px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u8 {
  position:absolute;
  left:60px;
  top:260px;
  width:700px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:78px;
  top:272px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:78px;
  top:318px;
  width:53px;
  height:72px;
  line-height:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:72px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:60px;
  top:344px;
  width:700px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u15 {
  position:absolute;
  left:60px;
  top:390px;
  width:700px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u16 {
  position:absolute;
  left:67px;
  top:40px;
  width:129px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
