body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:80px;
  width:129px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:158px;
  top:184px;
  width:40px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:220px;
  top:177px;
  width:210px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:158px;
  top:244px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:220px;
  top:237px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:330px;
  top:237px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:158px;
  top:310px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:150px;
  top:137px;
  width:450px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:433px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:450px;
  height:1px;
}
