body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:210px;
  width:680px;
  height:340px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:340px;
}
#u1 {
  position:absolute;
  left:2px;
  top:162px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:250px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:280px;
  top:294px;
  width:40px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:280px;
  top:351px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:330px;
  top:346px;
  width:300px;
  height:26px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:280px;
  top:404px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:330px;
  top:398px;
  width:60px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:400px;
  top:404px;
  width:19px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:503px;
  top:404px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:540px;
  top:398px;
  width:60px;
  height:26px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:610px;
  top:402px;
  width:15px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:330px;
  top:470px;
  width:310px;
  height:30px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:306px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:860px;
  top:340px;
  width:220px;
  height:110px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:110px;
}
#u25 {
  position:absolute;
  left:2px;
  top:47px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:878px;
  top:350px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:933px;
  top:350px;
  width:14px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:976px;
  top:350px;
  width:14px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1026px;
  top:350px;
  width:27px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:860px;
  top:370px;
  width:220px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u35 {
  position:absolute;
  left:878px;
  top:394px;
  width:27px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:911px;
  top:340px;
  width:10px;
  height:35px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u38 {
  position:absolute;
  left:956px;
  top:340px;
  width:10px;
  height:35px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u39 {
  position:absolute;
  left:1000px;
  top:340px;
  width:10px;
  height:35px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:18px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:35px;
}
#u40 {
  position:absolute;
  left:920px;
  top:394px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:334px;
  top:295px;
  width:27px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:380px;
  top:291px;
  width:100px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45 {
  position:absolute;
  left:140px;
  top:50px;
  width:97px;
  height:37px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:140px;
  top:10px;
  width:232px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1042px;
  top:10px;
  width:42px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:130px;
  top:110px;
  width:960px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u52 {
  position:absolute;
  left:892px;
  top:84px;
  width:198px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
