body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1023px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:78px;
  top:30px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:85px;
  top:1196px;
  width:938px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
#u3 {
  position:absolute;
  left:80px;
  top:100px;
  width:71px;
  height:430px;
  line-height:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:430px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:161px;
  top:202px;
  width:53px;
  height:148px;
  line-height:48px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:148px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:217px;
  top:356px;
  width:183px;
  height:16px;
  color:#949494;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:161px;
  top:781px;
  width:248px;
  height:16px;
  color:#949494;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:161px;
  top:817px;
  width:594px;
  height:344px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:344px;
}
#u12 {
  position:absolute;
  left:2px;
  top:164px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:360px;
  top:1421px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:161px;
  top:626px;
  width:229px;
  height:137px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:137px;
}
#u15 {
  position:absolute;
  left:2px;
  top:60px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:85px;
  top:1229px;
  width:65px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:85px;
  top:1294px;
  width:200px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19 {
  position:absolute;
  left:85px;
  top:1356px;
  width:938px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
#u20 {
  position:absolute;
  left:161px;
  top:547px;
  width:134px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:161px;
  top:586px;
  width:144px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:161px;
  top:452px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:161px;
  top:164px;
  width:40px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:161px;
  top:114px;
  width:47px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:217px;
  top:216px;
  width:70px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:217px;
  top:264px;
  width:40px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:217px;
  top:314px;
  width:70px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:170px;
  top:356px;
  width:27px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:343px;
  top:547px;
  width:99px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:85px;
  top:80px;
  width:938px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
