body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:119px;
  width:66px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:140px;
  top:114px;
  width:119px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:156px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:58px;
  top:194px;
  width:82px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:58px;
  top:231px;
  width:82px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:58px;
  top:283px;
  width:82px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:187px;
  width:119px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:224px;
  width:119px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:140px;
  top:274px;
  width:119px;
  height:26px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:157px;
  width:50px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:200px;
  top:157px;
  width:50px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:140px;
  top:365px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:58px;
  top:43px;
  width:101px;
  height:29px;
  font-size:25px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
