body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:66px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:120px;
  width:740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:40px;
  top:170px;
  width:79px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
