body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:134px;
  width:200px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:174px;
  width:53px;
  height:36px;
  line-height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:230px;
  width:200px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:204px;
  width:200px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u7 {
  position:absolute;
  left:40px;
  top:340px;
  width:200px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:270px;
  width:53px;
  height:36px;
  color:#000000;
  line-height:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:40px;
  top:300px;
  width:200px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u12 {
  position:absolute;
  left:70px;
  top:394px;
  width:53px;
  height:36px;
  line-height:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:40px;
  top:424px;
  width:200px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u15 {
  position:absolute;
  left:40px;
  top:466px;
  width:200px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:70px;
  top:520px;
  width:53px;
  height:72px;
  line-height:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:72px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:40px;
  top:550px;
  width:200px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u20 {
  position:absolute;
  left:40px;
  top:80px;
  width:1310px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:1293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1310px;
  height:1px;
}
#u21 {
  position:absolute;
  left:40px;
  top:48px;
  width:73px;
  height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:1170px;
  top:24px;
  width:182px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:40px;
  top:20px;
  width:174px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:40px;
  top:606px;
  width:200px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:70px;
  top:660px;
  width:53px;
  height:36px;
  line-height:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:40px;
  top:690px;
  width:200px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u32 {
  position:absolute;
  left:310px;
  top:134px;
  width:550px;
  height:236px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:236px;
}
#u33 {
  position:absolute;
  left:2px;
  top:110px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:338px;
  top:148px;
  width:66px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:338px;
  top:174px;
  width:492px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:475px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:492px;
  height:1px;
}
#u37 {
  position:absolute;
  left:338px;
  top:204px;
  width:119px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:570px;
  top:204px;
  width:119px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:338px;
  top:254px;
  width:119px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
