body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:66px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:120px;
  width:740px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u3 {
  position:absolute;
  left:151px;
  top:170px;
  width:200px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:40px;
  top:177px;
  width:53px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:237px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:40px;
  top:284px;
  width:92px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:151px;
  top:227px;
  width:200px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:151px;
  top:284px;
  width:200px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:151px;
  top:345px;
  width:60px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
