body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:103px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:280px;
  top:150px;
  width:254px;
  height:16px;
  line-height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:280px;
  top:210px;
  width:490px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u5 {
  position:absolute;
  left:720px;
  top:103px;
  width:50px;
  height:24px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:280px;
  top:253px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:280px;
  top:300px;
  width:62px;
  height:16px;
  line-height:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:720px;
  top:253px;
  width:50px;
  height:24px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:361px;
  top:310px;
  width:200px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:361px;
  top:341px;
  width:200px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:361px;
  top:410px;
  width:200px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:361px;
  top:450px;
  width:200px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:361px;
  top:484px;
  width:48px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:419px;
  top:484px;
  width:110px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:539px;
  top:484px;
  width:48px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:587px;
  top:448px;
  width:183px;
  height:16px;
  color:#FF0000;
  line-height:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:587px;
  top:410px;
  width:139px;
  height:16px;
  color:#999999;
  line-height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:361px;
  top:378px;
  width:70px;
  height:16px;
  color:#999999;
  line-height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:441px;
  top:376px;
  width:98px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34 {
  position:absolute;
  left:280px;
  top:550px;
  width:490px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u35 {
  position:absolute;
  left:280px;
  top:574px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:280px;
  top:618px;
  width:84px;
  height:12px;
  line-height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:12px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:268px;
  top:846px;
  width:490px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u40 {
  position:absolute;
  left:361px;
  top:618px;
  width:200px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:361px;
  top:698px;
  width:70px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:361px;
  top:738px;
  width:70px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:442px;
  top:699px;
  width:14px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:442px;
  top:740px;
  width:27px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:523px;
  top:740px;
  width:40px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:573px;
  top:738px;
  width:70px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:653px;
  top:740px;
  width:40px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:490px;
  top:739px;
  width:14px;
  height:16px;
  color:#999999;
  line-height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:580px;
  top:620px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:703px;
  top:738px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:361px;
  top:778px;
  width:332px;
  height:65px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:65px;
}
#u63 {
  position:absolute;
  left:2px;
  top:24px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:268px;
  top:1160px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:268px;
  top:1230px;
  width:490px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u67 {
  position:absolute;
  left:277px;
  top:1285px;
  width:100px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:268px;
  top:866px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:268px;
  top:934px;
  width:100px;
  height:16px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:268px;
  top:1033px;
  width:100px;
  height:16px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:620px;
  top:934px;
  width:100px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:701px;
  top:929px;
  width:60px;
  height:26px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u77 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:771px;
  top:934px;
  width:14px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:620px;
  top:1033px;
  width:100px;
  height:16px;
}
#u81 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u80_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82 {
  position:absolute;
  left:701px;
  top:1032px;
  width:135px;
  height:22px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u83 {
  position:absolute;
  left:268px;
  top:1095px;
  width:100px;
  height:16px;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:416px;
  top:1090px;
  width:60px;
  height:26px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:486px;
  top:1095px;
  width:14px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:343px;
  top:1092px;
  width:63px;
  height:22px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u90 {
  position:absolute;
  left:268px;
  top:1064px;
  width:100px;
  height:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:620px;
  top:1064px;
  width:100px;
  height:16px;
}
#u93 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u92_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u94 {
  position:absolute;
  left:620px;
  top:1095px;
  width:100px;
  height:16px;
}
#u95 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u94_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  position:absolute;
  left:268px;
  top:1130px;
  width:490px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:473px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:490px;
  height:1px;
}
#u97 {
  position:absolute;
  left:280px;
  top:54px;
  width:490px;
  height:35px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:35px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:299px;
  top:64px;
  width:301px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:30px;
  top:54px;
  width:210px;
  height:526px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:526px;
}
#u102 {
  position:absolute;
  left:2px;
  top:255px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:104px;
  top:99px;
  width:66px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:100px;
  top:68px;
  width:74px;
  height:21px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:55px;
  top:134px;
  width:164px;
  height:16px;
  line-height:22px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:30px;
  top:310px;
  width:210px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u110 {
  position:absolute;
  left:55px;
  top:330px;
  width:106px;
  height:16px;
  line-height:22px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:55px;
  top:378px;
  width:100px;
  height:16px;
  line-height:22px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:349px;
  top:1033px;
  width:107px;
  height:22px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u115 {
  position:absolute;
  left:1354px;
  top:702px;
  width:236px;
  height:32px;
  color:#FF0000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:32px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:285px;
  top:960px;
  width:100px;
  height:16px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:285px;
  top:986px;
  width:100px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:361px;
  top:658px;
  width:200px;
  height:22px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122 {
  position:absolute;
  left:268px;
  top:1204px;
  width:143px;
  height:16px;
  color:#000000;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:444px;
  top:1204px;
  width:143px;
  height:16px;
  color:#000000;
}
#u125 {
  position:absolute;
  left:16px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u124_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126 {
  position:absolute;
  left:369px;
  top:960px;
  width:54px;
  height:16px;
  color:#999999;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:369px;
  top:986px;
  width:194px;
  height:16px;
  color:#999999;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:846px;
  top:1032px;
  width:54px;
  height:16px;
  color:#999999;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
