body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:80px;
  width:950px;
  height:300px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:300px;
}
#u1 {
  position:absolute;
  left:2px;
  top:142px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:99px;
  top:430px;
  width:787px;
  height:293px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:50px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:0px;
  width:169px;
  height:50px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:419px;
  top:0px;
  width:183px;
  height:50px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:179px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:602px;
  top:0px;
  width:180px;
  height:50px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:50px;
  width:150px;
  height:102px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:102px;
}
#u14 {
  position:absolute;
  left:2px;
  top:43px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:150px;
  top:50px;
  width:100px;
  height:102px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:102px;
}
#u16 {
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:250px;
  top:50px;
  width:169px;
  height:102px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:102px;
}
#u18 {
  position:absolute;
  left:2px;
  top:35px;
  width:165px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:419px;
  top:50px;
  width:183px;
  height:102px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:102px;
}
#u20 {
  position:absolute;
  left:2px;
  top:43px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:602px;
  top:50px;
  width:180px;
  height:102px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:102px;
}
#u22 {
  position:absolute;
  left:2px;
  top:43px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:152px;
  width:150px;
  height:136px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:136px;
}
#u24 {
  position:absolute;
  left:2px;
  top:60px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:150px;
  top:152px;
  width:100px;
  height:136px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:136px;
}
#u26 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:250px;
  top:152px;
  width:169px;
  height:136px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:136px;
}
#u28 {
  position:absolute;
  left:2px;
  top:52px;
  width:165px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:419px;
  top:152px;
  width:183px;
  height:136px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:136px;
}
#u30 {
  position:absolute;
  left:2px;
  top:60px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:602px;
  top:152px;
  width:180px;
  height:136px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:136px;
}
#u32 {
  position:absolute;
  left:2px;
  top:60px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:748px;
  top:515px;
  width:90px;
  height:30px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:748px;
  top:635px;
  width:90px;
  height:30px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:109px;
  top:90px;
  width:930px;
  height:50px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:117px;
  top:98px;
  width:32px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:167px;
  top:106px;
  width:40px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:217px;
  top:99px;
  width:262px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:509px;
  top:106px;
  width:40px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:559px;
  top:99px;
  width:300px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:412px;
  top:330px;
  width:300px;
  height:30px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:109px;
  top:166px;
  width:66px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:185px;
  top:160px;
  width:84px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:279px;
  top:166px;
  width:27px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:372px;
  top:166px;
  width:66px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:448px;
  top:160px;
  width:84px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:542px;
  top:166px;
  width:40px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:109px;
  top:210px;
  width:100px;
  height:16px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:109px;
  top:245px;
  width:100px;
  height:16px;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:99px;
  top:30px;
  width:65px;
  height:37px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:610px;
  top:167px;
  width:157px;
  height:16px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1100px;
  top:166px;
  width:506px;
  height:160px;
  color:#FF0000;
  line-height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:160px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:108px;
  top:494px;
  width:66px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:108px;
  top:514px;
  width:74px;
  height:21px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:185px;
  top:281px;
  width:107px;
  height:22px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u78 {
  position:absolute;
  left:110px;
  top:287px;
  width:53px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:367px;
  top:287px;
  width:53px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:448px;
  top:280px;
  width:84px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:542px;
  top:286px;
  width:14px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:108px;
  top:545px;
  width:86px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1640px;
  top:80px;
  width:950px;
  height:300px;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:300px;
}
#u89 {
  position:absolute;
  left:2px;
  top:142px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1650px;
  top:90px;
  width:930px;
  height:50px;
  text-align:left;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:50px;
}
#u91 {
  position:absolute;
  left:2px;
  top:17px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1658px;
  top:98px;
  width:32px;
  height:32px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1708px;
  top:106px;
  width:40px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1758px;
  top:99px;
  width:262px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:2050px;
  top:106px;
  width:40px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:2100px;
  top:99px;
  width:300px;
  height:30px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1980px;
  top:320px;
  width:300px;
  height:30px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1650px;
  top:166px;
  width:66px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1726px;
  top:160px;
  width:84px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1820px;
  top:166px;
  width:27px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1913px;
  top:166px;
  width:66px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1989px;
  top:160px;
  width:84px;
  height:30px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:2083px;
  top:166px;
  width:40px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1650px;
  top:210px;
  width:100px;
  height:16px;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  position:absolute;
  left:1650px;
  top:245px;
  width:100px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:2214px;
  top:280px;
  width:107px;
  height:22px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121 {
  position:absolute;
  left:2151px;
  top:167px;
  width:157px;
  height:16px;
  color:#FF0000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:1726px;
  top:281px;
  width:107px;
  height:22px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u124 {
  position:absolute;
  left:1651px;
  top:287px;
  width:53px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1908px;
  top:287px;
  width:53px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1989px;
  top:280px;
  width:84px;
  height:30px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:2083px;
  top:286px;
  width:14px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:2151px;
  top:284px;
  width:53px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:1726px;
  top:200px;
  width:262px;
  height:30px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u135 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1998px;
  top:200px;
  width:262px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1726px;
  top:239px;
  width:262px;
  height:30px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1998px;
  top:239px;
  width:262px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u141 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:108px;
  top:598px;
  width:66px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:108px;
  top:618px;
  width:74px;
  height:21px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:108px;
  top:649px;
  width:86px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:1650px;
  top:40px;
  width:287px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:108px;
  top:561px;
  width:60px;
  height:18px;
  color:#FFFFFF;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u151 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
