body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:20px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:58px;
  top:80px;
  width:840px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:823px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u3 {
  position:absolute;
  left:58px;
  top:130px;
  width:66px;
  height:144px;
  line-height:48px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:144px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:130px;
  top:140px;
  width:200px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:130px;
  top:190px;
  width:200px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:130px;
  top:240px;
  width:200px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:350px;
  top:240px;
  width:100px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:130px;
  top:310px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:778px;
  top:130px;
  width:79px;
  height:96px;
  line-height:48px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:96px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:880px;
  top:140px;
  width:200px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:880px;
  top:190px;
  width:200px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:880px;
  top:250px;
  width:200px;
  height:40px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
